.contenedorB {
  width: 30rem;
  height: 15rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px 4px;
  border-radius: 0.5rem;
  display: inline-block;
  opacity: 0.85;
  background-color: #ffe770;
}
.contenedorB figure img {
  width: 13rem;
  height: 13rem;
  border-radius: 1rem;
}
.contenedorB figure {
  width: 50% !important;
  height: 50% !important;
  float: left;
  padding-top: 1rem;
}
.contenedorB h2 {
  padding-top: 1rem;
}
.contenedorB p {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.contenedorB a {
  text-decoration: none;
  color: black;
}
.contenedorB:hover {
  transform: scale(1.02);
  opacity: 1;
  transition: 0.3s;
}
