/* color-primario:#46f0e2  */
* {
  margin: 0;
}
.Landing {
  background-image: url("../../img/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  column-gap: 20px;
  flex-direction: column;
}
.titleLanding {
  margin-top: 5%;
  font-size: 3rem;
  color: black;
  text-shadow: 0px 0px 10px black;
}
.boton-landing {
  margin-top: 5%;
  color: black;
  font-size: 20px;
  text-decoration: none;
  border: 3px solid black;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  padding-left: 1px;
  margin-left: 45%;
  width: 8%;
}
.boton-landing:hover {
  background-color: white;
  transition: 0.5s;
}
